body {
  background-color: white;
  margin-left: 15%; 
}
h1   {
  font-family: Verdana;
  font-size: 250%;
  color: navy;
}
p    {color: black;}
a    {text-decoration: none;}
ul {
  font-family: Verdana;
  font-size: 50%
  list-style-type: none;
  margin-left: -200px;
  padding: 0;
  width: 15%;
  background-color: transparent;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
