body {
  background-color: white;
  margin-left: 15%; 
}
head {
  background-color: purple;
}
h1   {
  font-family: Verdana;
  font-size: 250%;
  color: RebeccaPurple;
}
p    {
  color: white;
  font-family: Verdana;
  font-style: italic;
}
a    {
  text-decoration: none;
  font-color: RebeccaPurple;
}
ul {
  font-family: Verdana;
  font-size: 50%
  list-style-type: none;
  margin-left: -200px;
  padding: 0;
  width: 15%;
  background-color: transparent;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
